.space {
  position: relative;
  display: flex;
}

.space:before {
  content: '';
  position: absolute;
  width: 260px;
  height: 270px;
  right: 0;
  bottom: 0;
}

b {
  display: contents;
}

.task-title {
  position: absolute;
  left: 20px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  pointer-events: none;
}

.counter {
  position: absolute;
  width: 232px;
  height: 166px;
  right: 24px;
  bottom: 96px;
  background: #FFFFFF;
  border-radius: 16px;
  overflow: hidden;
}

.counter > .status {
  position: absolute;
  left: 62px;
  top: 0;
  height: 100%;
  width: 22px;
  background-color: #FFEDCF;
}

.counter > .status > .inner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: #FFCC6B;
}

.counter > .status > .value {
  position: absolute;
  top: 0;
  left: -2px;
  transform: translate(-100%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 28px;
  color: #2F2F45;
}

.counter > .status > .value:after {
  content: '';
  display: inline-flex;
  width: 6px;
  height: 12px;
  background: url('./assets/counter-status-pointer-icon.svg') center no-repeat;
  margin-left: 7px;
  transition: opacity 0.5s;
}

.counter.expired > .status > .value {
  top: -13px;
}
.counter.expired > .status > .value:after {
  opacity: 0;
}

.counter > .switchers {
  position: absolute;
  height: 100%;
  left: 120px;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.counter > .switchers:not(.hidden) {
  transition: opacity 0.5s;
}

.counter:not(.integer) > .switchers:after {
  content: '.';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  color: #2F2F45;
}

.counter > .switchers > .switcher {
  width: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.counter > .switchers > .switcher:not(:last-of-type) {
  margin-right: 8px;
}

.counter > .switchers > .switcher > .value {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  color: #2F2F45;
}

.counter > .switchers > .switcher > .button {
  width: 100%;
  height: 40px;
  background: url('./assets/counter-switcher-button-icon.svg') center no-repeat;
  background-color: #FFE2DC;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.counter > .switchers > .switcher > .button.up {
  
}

.counter > .switchers > .switcher > .button.down {
  transform: rotate(180deg);
}

.counter > .switchers > .switcher > .button:not(.disabled):hover {
  background-color: #FFCDC5;
  cursor: pointer;
}

.task-button {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  bottom: 24px;
  background-color: #FF9977;
  border-radius: 16px;
  box-sizing: border-box;
  transition: opacity 0.5s, background-color 0.3s;
}

.task-button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1;
  background-position-y: center;
  background-position-x: 0;
  background-repeat: no-repeat;
  background-size: 120px 48px;
  transition: opacity 0.5s;
}

.task-button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  background-position-y: center;
  background-position-x: 100%;
  background-repeat: no-repeat;
  background-size: 120px 48px;
  transition: opacity 0.5s;
}

.task-button:not(.disabled):hover {
  background-color: #FF7A4E;
  cursor: pointer;
}

.task-button.disabled {
  background-color: #27236A;
}
.task-button.disabled::before {
  opacity: 0;
}
.task-button.disabled::after {
  opacity: 1;
}

.task-button.reset {
  right: 88px;
}
.task-button.reset::before {
  background-image: url('./assets/reset-icon.svg');
}
.task-button.reset::after {
  background-image: url('./assets/reset-icon.svg');
}

.task-button.run {
  right: 24px;
}
.task-button.run::before {
  background-image: url('./assets/run-icon.svg');
}
.task-button.run::after {
  background-image: url('./assets/run-icon.svg');
}

.task-button.ignit {
  right: 24px;
}
.task-button.ignit::before {
  background-image: url('./assets/ignit-icon.svg');
}
.task-button.ignit::after {
  background-image: url('./assets/ignit-icon.svg');
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.disabled {
  pointer-events: none;
}
